{% include 'header.html' %}
<div class="blog-index">
{% for post in posts %}
<article>
   <header>
       <h1 class="entry-title">
       		<a href="{{post.url}}" rel="bookmark" title="Permanent Link to {{post.title}}">{{post.title}}</a>
       </h1>
       <p class="meta">
        <small>{{post.date}}</small>
       </p>
   </header>
   
   <div class="entry-content">
   {{post.opening}}
   {% if post.read_more %}
   <span class="read_more"><a href="{{post.url}}" title="">阅读全文</a></span>
   {% endif %}
   </div>
   <small style="color:#999">标签: 
	{% if post.tags %}
	{{post.tags | join(',')}}
	{% else %}
	没有标签
	{% endif %}
	</small>
   <!--
   <footer>
     <a rel="full-article" href="{url}">Read On</a>
   </footer>
   -->
</article>
{% endfor %}
  <style type="text/css">
    nav[role="pagination"] ul {
      list-style-type:none;
    }
    nav[role="pagination"] li {
      display: inline-table;
      padding: 5px 10px;
    }
    nav[role="pagination"] li.current {
      background-color:#0181eb;
      color:#FFF;
    }
    nav[role="pagination"] li:hover {
      padding: 10px 20px;
      font-size:24px;
    }
  </style>
<nav role="pagination" class="pager">
    <ul>
      {% set total = paginator.total_pages %}
      {% set current = paginator.page %}
      {% if paginator.has_pre %}
        <li><a href="{{site.url}}/index.html">First</a></li>
        <li><a href="{{paginator.pre_page_url}}">Previous</a></li>
        {% if current < 6 %}
          {% for page in 1..(current-1) %}
            <li><a href="{{site.url}}/page/{{page}}">{{page}}</a></li>
          {% endfor %}
        {% else %}
          <li><a href="index.html">1</a></li>
          <li>...</li>
          {% for page in (current-3)..(current-1) %}
            <li><a href="{{site.url}}/page/{{page}}">{{page}}</a></li>
          {% endfor %}
        {% endif %}
      {% endif %} 
      <li class="current"><a href="{{site.url}}/page/{{current}}">{{current}}</a></li>
      {% if paginator.has_next %}
        {% if current > (total - 5) %}
          {% for page in (current+1)..total %}
            <li><a href="{{site.url}}/page/{{page}}">{{page}}</a></li>
          {% endfor %}
        {% else %}
          {% for page in (current+1)..(current+3) %}
            <li><a href="{{site.url}}/page/{{page}}">{{page}}</a></li>
          {% endfor %}
          <li>...</li>
          <li><a href="{{site.url}}/page/{{total}}">{{total}}</a></li>
        {% endif %}
        <li><a href="{{paginator.next_page_url}}">Next</a></li>
        <li><a href="{{site.url}}/page/{{total}}">Last</a></li>
      {% endif %} 
    </ul>
  </nav>
</div>
{% include 'sidebar.html' %}
{% include 'footer.html' %}