
{% include 'header.html' %}
<div id="content">
	<div id="content_box">
	{% for post in posts %}
        <div class="post">
            <h2 class="title"><a href="{{post.url}}">{{post.title}}</a></h2>
            <div class="post_body">{{post.content}}</div>
            <span class="date">{{post.date}}</span>
            <div style="clear:both;"></div>
            <div class="tags" style="float:left;">{{post.tags | join(', ')}}</div>
            <!--<div class="ds-thread-count" data-thread-key="{{post.filename}}" style="float:right;line-height:2.5em;"></div>-->
        </div>
	{% endfor %}
  </div>

	<div class="page-navigator">
        {% if paginator.has_previous %}
            <a class="round pre" id="pre" href="{{paginator.previous_page_url}}">{{paginator.previous_page}}</a>
        {% endif %}
        {% if paginator.has_next %}
            <a class="round next" id="next" href="{{paginator.next_page_url}}">{{paginator.next_page}}</a>
        {% endif %}
    </div>


</div>
{% include 'footer.html' %}