html {
	height: 100%;
}
body{
	margin:0 auto;
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: whitesmoke;
}
h1{
	font-size:1.5em;
	margin: 0;
	padding:0;
}
label{
	font-size:75%;
	font-weight: bold;
	margin: 1em 0 -0.5em;
	vertical-align: middle;
}

input[type="text"], textarea {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 0.1em solid Gainsboro;
	border-radius: 0.2em;
	margin: 0;
	padding: 0.5em;
	width: 100%;
	font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
}
textarea{
	height:32em; 
	overflow: auto;
	vertical-align: top;
}

input[type="submit"], input[type="button"] {
	border: medium none;
	border-radius: 0.2em;
	cursor: pointer;
	display: inline-block;
	height: 3em;
	padding: 0 1em;
	vertical-align: middle;
	width:8em;
	background-color: gainsboro ;
	color: gray;	
}
input[type="submit"]:hover, input[type="button"]:hover {
	background-color: cadetblue;
	color: white;	
}

#main{
	margin:0 auto;
	padding: 2em 0 0 2em;
	width:96%;
	min-width:40em;
	max-width:120em;
	display: table;
}
#mainGroup, #previewGroup, #metaGroup{
	margin: 0;
	padding:0 1em;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#mainGroup{
	float: left;
	width:50%;
}
#mainGroup>*{
	clear: both;
}

label[for="name"]{
	color: gray;
}
#docpath{
	display: inline;
	width:10em;
	background: none repeat scroll 0 0 PapayaWhip;
	border: medium none;
	padding: 0.2em;
	color: gray;
}
#docpath[readonly]{
	background-color:transparent;
}


#autosave{
	float: left;
}
#saveButton{
	float: right;
	line-height:2em;
}

#previewGroup{
	width:50%;
	padding-top: .5em;
	float: right;
	background-color: white;
	border: 0.1em dashed Gainsboro;
	border-radius: 0.2em;
	overflow: auto;
	height:45em;
	max-width:60em;
}
#metaGroup{
	border-right: 0.1em solid Gainsboro;
	background-color: white;
	position: fixed;
	width:20em;
	top:0;
	bottom:0;
	left:-20em;
	transition:0.1s;
}
#metaGroup:before{
	background-color: white;
	border-right: 0.1em solid Gainsboro;
	content:'属性';
	position: fixed;
	width:1em;
	top:0;
	left:0;
	bottom:0;
	padding:2em 0.5em;
}
#metaGroup:hover{
	left:2em;	
}
#metaGroup:hover:before{
}
section{
	margin:0 0 1em 0;
}
section>label{
	display: block;
}
section>p.border{
	border: 0.1em solid Gainsboro;
	border-radius: 0.2em;
	background-color:white;
	padding: 0.5em;
}
#editortext{
	display: none;
}


#wmd-button-bar{
	margin:0 0 -1em 0;
}
.wmd-button-row 
{
	position: relative; 
	margin:0;
	padding: 0px;
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;	
	position: absolute;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
	width: 20px;
	height: 20px;
	position: absolute;
	display: inline-block;
	list-style: none;
	cursor: pointer;
	margin: 0;
}

.wmd-button > span {
	background-image: url(editor.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.wmd-spacer1
{
	left: 50px;
}
.wmd-spacer2
{
	left: 175px;
}
.wmd-spacer3
{
	left: 300px;
}

#wmd-preview pre{
}
.wmd-prompt-dialog{
	background: white;
	border:0.1em solid Gainsboro;
	margin: 0;
	padding:.5em 1em;
}




#previewGroup{
    margin: 0 auto;
    font-family: Georgia, Palatino, serif;
    color: #444444;
    line-height: 1;
    max-width: 960px;
    padding: 30px;
}
#previewGroup h1, #previewGroup h2, #previewGroup h3, #previewGroup h4 {
    color: #111111;
    font-weight: 400;
}
#previewGroup h1, #previewGroup h2, #previewGroup h3, #previewGroup h4, #previewGroup h5, #previewGroup p {
    margin-bottom: 24px;
    padding: 0;
}
#previewGroup h1 {
    font-size: 48px;
}
#previewGroup h2 {
    font-size: 36px;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 24px 0 6px;
}
#previewGroup h3 {
    font-size: 24px;
}
#previewGroup h4 {
    font-size: 21px;
}
#previewGroup h5 {
    font-size: 18px;
}
#previewGroup a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#previewGroup a:hover {
    text-decoration: none;
    color: #ff6600;
}
#previewGroup a:visited {
    color: purple;
}
#previewGroup ul, #previewGroup ol {
    padding: 0;
    margin: 0;
}
#previewGroup li {
    line-height: 24px;
}
#previewGroup li ul, #previewGroup li ol {
    margin-left: 24px;
}
#previewGroup p, #previewGroup ul, #previewGroup ol {
    font-size: 16px;
    line-height: 24px;
    max-width: 540px;
}
#previewGroup pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
}
#previewGroup code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}
#previewGroup aside {
    display: block;
    float: right;
    width: 390px;
}
#previewGroup blockquote {
    border-left:.5em solid #eee;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
}
#previewGroup blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
#previewGroup blockquote cite:before {
    content: '\2014 \00A0';
}

#previewGroup blockquote p {  
    color: #666;
    max-width: 460px;
}
#previewGroup hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

