html {
	height: 100%;
}
body{
	margin:0 auto;
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: whitesmoke;
}
h1{
	font-size:1.5em;
	margin: 0;
	padding:0;
}
label{
	font-size:75%;
	font-weight: bold;
	margin: 1em 0 -0.5em;
	vertical-align: middle;
}

input[type="text"], textarea {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 0.1em solid Gainsboro;
	border-radius: 0.2em;
	margin: 0;
	padding: 0.5em;
	width: 100%;
	font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
}
textarea{
	height:32em; 
	overflow: auto;
	vertical-align: top;
}

input[type="submit"], input[type="button"] {
	border: medium none;
	border-radius: 0.2em;
	cursor: pointer;
	display: inline-block;
	height: 3em;
	padding: 0 1em;
	vertical-align: middle;
	width:8em;
	background-color: gainsboro ;
	color: gray;	
}
input[type="submit"]:hover, input[type="button"]:hover {
	background-color: cadetblue;
	color: white;	
}

#main{
	margin:0 auto;
	padding: 2em 0 0 2em;
	width:96%;
	min-width:40em;
	max-width:120em;
	display: table;
}
#mainGroup, #previewGroup, #metaGroup{
	margin: 0;
	padding:0 1em;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#mainGroup{
	float: left;
	width:50%;
}
#mainGroup>*{
	clear: both;
}

label[for="name"]{
	color: gray;
}
#docpath{
	display: inline;
	width:10em;
	background: none repeat scroll 0 0 PapayaWhip;
	border: medium none;
	padding: 0.2em;
	color: gray;
}
#docpath[readonly]{
	background-color:transparent;
}


#autosave{
	float: left;
}
#saveButton{
	float: right;
	line-height:2em;
}

#previewGroup{
	width:50%;
	padding-top: .5em;
	float: right;
	background-color: white;
	border: 0.1em dashed Gainsboro;
	border-radius: 0.2em;
	overflow: auto;
	height:45em;
	max-width:60em;
}
#metaGroup{
	border-right: 0.1em solid Gainsboro;
	background-color: white;
	position: fixed;
	width:20em;
	top:0;
	bottom:0;
	left:-20em;
	transition:0.1s;
}
#metaGroup:before{
	background-color: white;
	border-right: 0.1em solid Gainsboro;
	content:'属性';
	position: fixed;
	width:1em;
	top:0;
	left:0;
	bottom:0;
	padding:2em 0.5em;
}
#metaGroup:hover{
	left:0;	
}
#metaGroup:hover:before{
	display: none;	
}
section{
	margin:0 0 1em 0;
}
section>label{
	display: block;
}
section>p.border{
	border: 0.1em solid Gainsboro;
	border-radius: 0.2em;
	background-color:white;
	padding: 0.5em;
}
#editortext{
	display: none;
}


#wmd-button-bar{
	margin:0 0 -1em 0;
}
.wmd-button-row 
{
	position: relative; 
	margin:0;
	padding: 0px;
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;	
	position: absolute;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
	width: 20px;
	height: 20px;
	position: absolute;
	display: inline-block;
	list-style: none;
	cursor: pointer;
	margin: 0;
}

.wmd-button > span {
	background-image: url(editor.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.wmd-spacer1
{
	left: 50px;
}
.wmd-spacer2
{
	left: 175px;
}
.wmd-spacer3
{
	left: 300px;
}

#wmd-preview pre{
}




