<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>{% if post %}{{post.title}} - {% endif %}{{site.title}}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{site.url}}/rss.xml" />
    <link rel="stylesheet" type="text/css" href="https://rawgithub.com/lizheming/PMBlog/theme/Mono/style.css" />
    <style type="text/css">
		.post_content img { max-width:550px; }
    </style>
</head>
<body>
<div id="loading">Loading...</div>
<div id="wrapper">
<div id="header">
  <div id="header_top">
    <div id="logo">
    	<a href="{{site.url}}">{{site.title}}</a>
    </div>
    <div class="header_menu">
      <ul class="menu">
        <li class="page_item">
        	<a href="{{site.url}}">首页</a>
        </li>
        {% for item in menu %}
        <li class="page_item">
        	<a href="{{item.url}}" title="{{item.description}}">{{item.title}}</a>
        </li>
        {% endfor %}
        <!--
        <li class="page_item">
        	<a href="{{site.url}}/page/download.html">下载</a>
        </li>
        <li class="page_item">
        	<a href="{{site.url}}/page/guestbook.html">留言</a>
        </li>
        > 
      </ul>
    </div>
  </div>
</div>
<!-- #header end --> 
